:root {
    --pink: #f7deea;
    --rose: #CC8270;
    --plum: #753554;
    --gray: #8CA79A;
    --army: #b8c696;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    background-color: var(--pink);
    color: var(--plum);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.custom-jumbotron,
.custom-modal .modal-header,
.custom-modal .modal-footer {
    background-color: var(--army);
    color: var(--plum);
}

.custom-card    {
    background-color: var(--rose);
    border-color: var(--rose);
    border-width: 3px;
    border-radius: 10px;
}

.custom-card .card-header {
    background-color: var(--rose);
}

.custom-card .card-body,
.custom-modal .modal-body {
    background-color: var(--pink);
    color: var(--plum);
    border-radius: 10px;
}

.custom-btn {
    background-color: var(--rose);
    color: var(--plum);
    border-color: var(--plum);
    margin-top: 30px;
}

.btn-secondary {
    background-color: var(--rose);
    color: var(--plum);
    border-color: var(--plum);
}

.custom-btn:hover,
.btn-secondary {
    background-color: var(--plum);
    color: var(--pink);
}

#project-form {
    margin-left: 10px;
    margin-right: 10px;
}

